<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmf.plantpal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_EMAIL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.PlantPal">
        <activity android:name=".activities.useractivites.HelpActivity"></activity>
        <activity android:name=".activities.adminactivites.UsersFeedbackActivity" />
        <activity android:name=".activities.useractivites.SendFeedbackActivity" />
        <activity
            android:name=".activities.loginactivites.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.useractivites.ContactUsActivity" />
        <activity android:name=".activities.useractivites.ProfileActivity" />
        <activity android:name=".activities.useractivites.FavoritesActivity" />
        <activity android:name=".activities.useractivites.ShowAccessoryActivity" />
        <activity android:name=".activities.useractivites.ShowPlantActivity" />
        <activity android:name=".activities.adminactivites.UsersActivity" />
        <activity
            android:name=".activities.adminactivites.AddAccessoryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.adminactivites.AddPlantActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.adminactivites.AdminMainActivity" />
        <activity android:name=".activities.useractivites.UserMainActivity" />
        <activity
            android:name=".activities.loginactivites.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.loginactivites.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>